
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Email confirmed</title>
</head>
<body>
    <h1>Your email was confirmed!</h1>
</body>
</html>





