@model ViewModels.UI.RequestRegisterUserView

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>

<h4>Registration</h4>
<hr />
<div class="row">
    @using (Html.BeginForm("CreateNewUser", "User", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.EditorFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Password)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.PasswordFor(model => model.Password)
                </td>
            </tr>
        </table>
        <button class="authenticationButton" type="submit" value="Register">Register</button>
    }
</div>

<div>
    <hr />
    @using (Html.BeginForm("BackToLogin", "User", FormMethod.Post))
    {
        <button class="authenticationButton" type="submit" value="Back to login">Back to login</button>
    }
</div>    
</body>
</html>
