@model ViewModels.UI.RequestRegisterUserView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>

<h4>RegisterUserView</h4>
<hr />
<div class="row">
    @using (Html.BeginForm("CreateNewUser", "User", FormMethod.Post))
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.EditorFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.PasswordFor(model => model.Password)
            </dd>
        </dl>
        <button type="submit" value="Register">Register</button>
    }

</div>

</body>
</html>
