@model ViewModels.UI.User.RequestForgotPasswordUserView

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<h4>RequestForgotPasswordUserView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.EditorFor(model => model.Email)
                    </td>
                </tr>
            </table>
            <button class="authenticationButton" type="submit" value="Send">Send</button>
        }
    </div>
</div>

